html{
    background-color: #d3dce2;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e7eb;
    padding: 0 5px;
    height: 60px;
}
.logo{
    font-size: 24px;
    display: flex;
    align-items: center;
}
.logo > img{
    height: 40px;
    width: auto;
}
