.main-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.actions{
    display: flex;
}
.actions > .action{
    background-color: #c9cdd1;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
}
.actions > .active{
    background-color: #e3e7eb;
}
.actions > .action:not(:first-child){
    margin-left: 10px;
}
.works{
    padding: 5px;
    background-color: #e3e7eb;
}
.works > .work:not(:first-child){
    margin-top: 5px;
}
.append-panel{
    display: none;
    padding: 5px;
    background-color: #e3e7eb;
}
.append-panel > input{
    outline: none;
    padding: 2px;
}